* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font-family: 'CrownMychew';

}
body {
    background: linear-gradient(to bottom, #ccffff 0%, #ffcccc 100%);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
#header h1 > a{
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}
#header > nav > ul {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;
    justify-content: center;
}
#header > nav > ul > li{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border: 1px solid #ff6699;
    border-radius: 50%;
    text-align: center;
    line-height: 1.3;
    font-weight: 800;
    cursor: pointer;
}
#header > nav > ul > li > a{
    color: #ff6699; 
    font-size: 20px;
}
#header > nav > ul > li.active {
    background-color: #ff6699;
}
#header > nav > ul > li.active a {
    color: #fff;
}
.search__wrap {
    width: 80%;
    height: 120%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 15px;
    position: relative;
}
.search__title {
    padding-top: 30px;
}
.search__title span {
    font-size: 30px;
}
.search__title h1 {
    width: 100%;
    height: 100px;
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}
.search__select {
    margin-bottom: 20px;
    display: inline-flex;
    justify-items: center;
    align-items: center;
}
.search__select span {
    width: 50px;
    height: 30px;
    border: 1px solid #ffcccc;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}
.search__select span.active {
    background-color: #ffcccc;
}
.search__box {
    width: 90%;
    height: 100px;
    display: inline-blok;
    /* margin-top: 20px; */
    margin: 0 auto;
    border: 5px solid #ffcccc;
    border-radius: 15px;
    background-color: #eee;
    font-size: 30px;
    /* vertical-align: middle; */
}
.search__box p {
    margin-top: 5px;
    font-size: 18px;
}
.search__box p em {
    text-decoration: underline;

}
.search__box label {
    line-height: 2;
}
.search__box > input {
    margin-left: 20px;
    width: 300px;
    height: 40px;
    font-size: 20px;

}
.search__box__desc {
    color: #ff6699;
    margin-top: 3px;
    font-size: 18px;
}
.search__box__result {
    display: inline-block;
    width: 90%;
    height: 80px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 2.5;
    border-top: 3px dashed pink;
    border-bottom: 3px dashed pink;

}
.search__info {
    font-size: 25px;
    position: absolute;
    /* top: 0; */
    right: 100px;
    /* transform: translateX(20%); */
    margin: 10px;
}
.search__list {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 25px;
    text-align-last: left;
}
.search__list span {
    display: inline-block;
    border: 1px solid #ffcccc;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 3px;
    cursor: pointer;
}
.search__list span:hover {
    background-color: #ffcccc;
}
.search__list span.active {
    background-color: #ffcccc;
}
.search__list li {
    margin: 10px 0;
}
.search__list li.show{
    display: block;
}
.search__list li.hide{
    display: none;
}
footer {
    margin: 30px 0;
    text-align: center;
}