<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="wrap">
        <header id="header">
            <h2 class="logo"><a href="#">조이컨트리클럽</a></h2>
            <nav class="nav">
                <ul>
                    <li><a href="#">CLUB</a>
                        <ul class="submenu">
                            <li><a href="#">클럽소개</a></li>
                            <li><a href="#">시설안내</a></li>
                        </ul>
                    </li>
                    <li><a href="#">BOOKING</a>
                        <ul class="submenu">
                            <li><a href="#">요금안내</a></li>
                            <li><a href="#">예약안내</a></li>
                            <li><a href="#">위약안내</a></li>
                        </ul>
                    </li>
                    <li><a href="#">INFORMATION</a>
                        <ul class="submenu">
                            <li><a href="#">명예의 전당</a></li>
                            <li><a href="#">이벤트</a></li>
                            <li><a href="#">자료실</a></li>
                            <li><a href="#">포토갤러리</a></li>
                        </ul>
                    </li>
                    <li><a href="#">COMMUNITY</a>
                        <ul class="submenu">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">Q&A</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <main id="main">
            <div id="slider">
                <div class="sliderWrap">
                    <div class="slider i1">
                        <div class="text">
                            <h3>어서오세요. 조이컨트리클럽에</h3>
                            <div>가족과 연인과 친구와 혹은 혼자오셔도 즐길 수 있는 조이컨트리클럽입니다.</div>
                        </div>
                    </div>
                    <!-- //slider i1 -->

                    <div class="slider i2">
                        <div class="text">
                            <h3>어서오세요. 조이컨트리클럽에</h3>
                            <div>가족과 연인과 친구와 혹은 혼자오셔도 즐길 수 있는 조이컨트리클럽입니다.</div>
                        </div>
                    </div>
                    <!-- //slider i2 -->

                    <div class="slider i3">
                        <div class="text">
                            <h3>어서오세요. 조이컨트리클럽에</h3>
                            <div>가족과 연인과 친구와 혹은 혼자오셔도 즐길 수 있는 조이컨트리클럽입니다.</div>
                        </div>
                    </div>
                    <!-- //slider i3 -->
                </div>
                <div class="banner">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div id="contents">
                <div class="content1">
                    <h3>조이컨트리클럽 가입</h3>
                    <span>바로가기</span>
                </div>
                <div class="content2">
                    <div class="ch">
                        <ul>
                            <li class="notice choose"><a href="#">공지사항</a></li>
                            <li class="gallery"><a href="#">갤러리</a></li>
                        </ul>
                    </div>
                    <div class="cont">
                        <div class="notice">
                            <ul>
                                <li><a href="#">2024년 예약 요금 인상 안내</a><span>2023.11.07</span></li>
                                <li><a href="#">시설 유지 보수 기간 안내</a><span>2023.11.04</span></li>
                                <li><a href="#">이벤트 당첨자 안내</a><span>2023.11.01</span></li>
                                <li><a href="#">예약시 유의사항</a><span>2023.10.28</span></li>
                            </ul>
                        </div>
                        <div class="gallery">
                            <ul>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- //wrap -->
    <footer id="footer">
        <div class="footer1"><a href="#">조이컨트리클럽</a></div>
        <div class="footer2"></div>
        <div class="footer3"></div>
    </footer>

    <div class="popup none">
        <div class="title">
            <h3>2024년 예약 요금 인상 안내</h3>
            <a href="#" class="close">닫기</a>
        </div>
        <div class="text">
            요금 인상 안내
        </div>
    </div>
    <script src="script/jquery.min.js"></script>
    <script src="script/script.js"></script>
</body>

</html>