* {
    padding: 0;
    margin: 0 auto;
    font-family: 'Wooridaum';
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
.none {
    display: none !important;
}

body {
    background-image: url(../img/quiz4.jpg);
    background-attachment: fixed;
    background-size: cover;    
    
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100vw;
}
#main{
    height: 100%;
    overflow: hidden;
}
.quiz {
    border: 5px solid pink;
    margin-top: 7%;
    height: 90%;
    position: absolute;
    width: 80vw;
    background-image: url(../img/moviebg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
.background {
    /* border: 5px solid pink;
    margin-top: 5%;
    height: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/moviebg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: blink 1s infinite; /* 1초 간격으로 애니메이션을 반복함 */
    align-items: center; */
}
.abc {
    position: absolute;
    right: 15%;
    top: 20%;
    text-align: center;
    font-size: 22px;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #3E3B43;
    color: #fff;
    font-weight: 800;
    border: none;
}
@keyframes blink {
    0%, 100% {
      background-image: url(../img/moviebg.png);
    }
    50% {
      background-image: none;
    }
  }

/*----------------------------- main --------------------------------------------*/
#header__inner {
    width: 100%;
    height: 300px;
    text-align: center;
    
    
}
#header__inner .quizTimeOut {
    width: 100%;
    height: 100px;
    color: white;
    font-size: 60px;
    margin-top: 150px;
}
.quiz__wrap {
    border: 3px solid gray;
    /* top: 0;
    left: 0;
    margin-top: 13%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
}
/* ----------------------------- 시작 버튼 -------------------------------------------- */
#header__start {
    width: 100%;
    height: 700px;
    /*  */
    /* margin-top: 200px; */
    color: white;
    font-size: 60px;
    text-align: center;
    position: relative;
}
.start h2 {
    margin-top: 3%;
    padding: 10px;
    width: 30%;
    font-size: 38px;
    background-color: #3e3b4368;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    font-weight: 500;
}
.start__bg {
    border: 5px solid pink;
    margin-top: 5%;
    height: 100%;
    position: absolute;
    width: 80%;
    height: 80%;
    background-image: url(../img/moviebg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.start p {
    margin-top: 15%;
    font-size: 45px;
}
.start__btn {
    margin-top: 50px;
    font-size: 22px;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #3E3B43;
    color: #fff;
    font-weight: 800;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 3px #3E3B43;
    /* transition: all 0.3; */
}
.start__btn:hover {
    background-color: #331c59;
}


.userScore {
    width: 100%;
    height: 100px;
    /* background-color: #324DB7; */
    color: white;
    font-size: 32px;
}
.rankingImage {
    height: 370px;
}
.rankingImage > img{
    height: 90%; 
    margin-top: 40px;
}
.ranking {
    width: 100%;
    height: 100px;
    color: #fff;
    /* background-color: #189050; */
    font-size: 50px;
    font-weight: 800;
    margin-top: 30px;
}


/* ----------------------------- quiz start -------------------------------------------- */

.quiz__wrap > .quiz {
    width: 1000px;
}
.quiz__question {
    margin-top: 155px;
    width: 600px;
    font-size: 500%;
    line-height: 1.3;
    color: #fff;
    background-color: #00000085;
    border-radius: 30px;
    font-style: italic;
    text-align: center;
    font-weight: 700;
    font-family: 'EF_Macho';
}
/* ----------------------------- text -------------------------------------------- */
.header__title p {
    padding: 10px;
    width: 30%;
    font-size: 38px;
    background-color: #3e3b4368;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    font-weight: 500;
    transform: translateY(95px);
}
.hint .hint__text {
    margin-top: 50px;
    width: 600px;
    height: 80px;
    font-size:20px;
    font-weight: 600;
    line-height: 1.3;
    background-color: #00000085;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    display: flex; /* 텍스트를 수직 및 수평으로 가운데 정렬하기 위해 flex 사용 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
.answer__text {
    background-color: #00000085;
    width: 600px;
    height: 50px;
    font-size:25px;
    font-weight: 800;
    line-height: 50px;
    color: #d4ff00;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 15px;
    display: flex; /* 텍스트를 수직 및 수평으로 가운데 정렬하기 위해 flex 사용 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
.quiz__answer {}

/* ----------------------------- 정답적는 칸 -------------------------------------------- */
.quiz__input input {
    margin-top: 30px;
    width: 600px;
    height: 50px;
    background-color: #00000085;
    border: 2px solid #ccc;
    color: #fff;
    display: flex;
    font-size:25px;
    line-height: 1.5px;
    font-weight: 800;
    text-align: center;
    border-radius: 15px;
    outline: none;
    transition: border-color 0.3s ease;
}
.quiz__input input:hover,
.quiz__input input:focus {
    border-color: #c2fc03;
}
.quiz__input input::placeholder {
    color: #ffffff8b;}

/* ----------------------------- 힌트 -------------------------------------------- */
.hint {
    text-align: center;
}
.hint .hint__btn {
    margin-top: 50px;
    font-size: 22px;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #3E3B43;
    color: #fff;
    font-weight: 800;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 3px #3E3B43;
    transition: all 0.3;
    
}
.hint .hint__btn:hover {
    background-color: #331c59;
}

/* ----------------------------- 정답 -------------------------------------------- */
.answer__btn {
    position: absolute;
    bottom: 100px;
    right: 7%;
    margin-top: 10px;
    font-size: 22px;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #3E3B43;
    color: #fff;
    font-weight: 800;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 3px #3E3B43;
}
.answer__btn:hover {
    background-color: #331c59;
}
.answer__box{
    display: flex;
}

/* ----------------------------- 다음 -------------------------------------------- */
.next {
    position: relative;
}
.next__btn {
    position: absolute;
    margin-left: 85px;
    margin-top: 10px;
    font-size: 22px;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #3E3B43;
    color: #fff;
    font-weight: 800;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 3px #3E3B43;
    width: 110px;
}
.next__btn:hover {
    background-color: #331c59;
}

/* ----------------------------- 넘어가기 -------------------------------------------- */
.skip__btn {
    position: absolute;
    bottom: 48px;
    right: 7%;
    margin-top: 10px;
    font-size: 22px;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #3E3B43;
    color: #fff;
    font-weight: 800;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 3px #3E3B43;
}
.skip__btn:hover {
    background-color: #331c59;
}

.quiz__timer > input[type=text] {
    position: fixed;
    bottom: 0;
    right: 0;
	width: 300px;
	height: 100px;
    padding: 0 20px;
    text-align: center;
    font-size: 40px;
    background-color: #00000000;
    border-radius: 30px;
    border: none;
    color: #fff;
}

/* ----------------------------- end -------------------------------------------- */
/* -----------------------------점수----------------------------- */
.quiz__score {
    position: absolute;
    bottom: 30px;
    left: 137px;
    font-size: 22px;
    border-radius: 15px;
    padding: 10px 10px;
    background-color: #00000085;
    color: #fff;
    font-weight: 800;
    border: none;
}
.close__btn {
    margin-top: 10px;
    font-size: 22px;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #3E3B43;
    color: #fff;
    font-weight: 800;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 3px #3E3B43;
    display: flex;
}
.close__btn:hover {
    background-color: #331c59;

}
/* -----------------------------정답 스타일----------------------------- */
.correct {
    color: rgb(101, 249, 15);
}
.wrong {
    color: rgb(242, 77, 77);
}
.timeOut {
    width: 100%;
    height: 100vh;
    background-color: #000;
    text-align: center;
    color: #fff;
}


/* @media (max-width : 980px) {
    .parallax__item {
        display: none; */
        /* 모바일 화면 크기에서 Parallax 효과를 제거할 스타일 설정 */
        /* 예: 모든 스타일을 초기화하거나 display: none; 설정 등을 사용할 수 있음 */
    /* }
    body { */
        /* background-position: center;
        width: 100%;
        height: 100%; */
        /* overflow: hidden; */
    /* }
    .background {
        width: 75%;
        top: 47%;
    }
    .quiz__score {
        bottom: 125px;
    } 
    .answer__btn {
        margin-top: -7px;
    }
    .start {
        align-items: center;
    }
    .start__bg {
        margin-top: 5px;
    } */
    /* 영화 초성퀴즈 글자 */
    /* .start h2 {  
        font-size: 24px;
    }
    .start p {
        font-size: 24px;
    }
    .start__btn {
        font-size: 22px;
        margin-top: 30px;
    }
    .skip__btn,
    .skip__btn:hover {sssss
        bottom: 191px; 
        right: 45px;
        font-size: 16px;
    }
    .next__btn,
    .next__btn:hover {
        bottom: 191px; 
        right: 55px;
        font-size: 16px;
    }
    .header__title {
        margin-top: 5%;
    }
    .header__title p {
        font-size: 35px;
    }
    .quiz__question {
        font-size: 400%;
        width: 60%;
    }
    .hint .hint__text {
        font-size: 16px;
        width: 60%;
    }
    .quiz__input input {
        width: 60%;
    }
    .answer__text {
        width: 60%;
    }
    .quiz__timer > input[type=text] {
        font-size: 30px;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        width: 50%;
    }
} */
/* @media (max-width: 940px) {
    .header__title {
        margin-top: 100px;
    }
    .header__title p {
        font-size: 25px;
    }
    .background {
        top: 48%;
    }
    .next__btn {

    }
} */
/* @media (max-width : 720px) {
    body {
        overflow: hidden;
    }
    .start h2 {
        font-size: 20px;
        margin-top: 140px;
    }
    .start p {
        margin-top: 13%;
        font-size: 25px;
    }
    .header__title{
        top: 10%
    }
    .header__title p {
        width: 50%;
        font-size: 25px;
    }
    .quiz__question {
        font-size: 200%;
        width: 60%;
    }
    .hint .hint__text {
        font-size: 16px;
        width: 60%;
    }
    #header__inner .quizTimeOut {
        font-size: 40px;
    }
    .ranking {
        font-size: 35px;
    }
    .start { */
        /* align-items: center; */
    /* }
    .container {
        top:55px;
    }
    .quiz__timer > input[type=text] {
        font-size: 23px;
    }
    .quiz__score {
        left : 5%;
    }
    .background {
        top: 40%;
    }
    .skip__btn,
    .skip__btn:hover{
        bottom: 19%;
    }

} */
/* @media (max-width : 400px) {
    body {
        overflow: hidden; 
    }
    .start h2 {
        font-size: 20px;
        width: 150px;
        margin-top: 140px;
    }
    .start p {
        font-size: 25px;
        margin-top: 110px;
    }
    .start__bg {
        width: 100%;
        top:19%
    }
    .header__title p {
        font-size: 25px;
        width: 170px;
    }
    .quiz__question {
        font-size: 160%;
        width: 60%;
    }
    .answer__btn,
    .answer__btn:hover {
        font-size: 16px;
        
    }
    .hint .hint__text {
        font-size: 16px;
        width: 60%;
    }
    .hint .hint__btn,
    .hint .hint__btn:hover {
        font-size: 100%;
    }
    .background {
        width: 100%;
        height: 85%;
        top : 35%
    }
    .quiz__input input {
        font-size: 100%;
    }
    #header__inner .quizTimeOut {
        font-size: 30px;
        height : 150px
    }
    .skip__btn,
    .skip__btn:hover {
        bottom: 45px;
        font-size: 14px;
        right: 5%;
    }
    .next__btn,
    .next__btn:hover {
        bottom: -32px;
        font-size: 14px;
        right: 5%;
    }
    .quiz__timer > input[type=text] {
        font-size: 20px;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        
    }
    .start {
        align-items: center;
    }
    .quiz__score {
        bottom: 41px;
        left: 15%;
        transform: translateX(-50%);

    }
    #header__inner .quizTimeOut {
        height: 95px;
    }
    .abc {
        left: 50%;
        transform: translateX(-50%);
    }

}*/
@media (max-width: 1400px){
    #main {
        border: 3px solid red;
    }
}
@media (max-width: 1300px){
/* start */
    #main {
        border: 3px solid orange;
    }
    .start h2 {
        margin-top: 7%;
        font-size: 36px;
    }
    .start p {
        font-size: 36px;
    }
    .quiz__question {
        font-size: 450%;
    }
/* quiz */
    .quiz__timer > input[type=text] {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .hint .hint__text {
        margin-top: 10px;
    }
    .quiz__input input {
        margin-top: 10px;
    }
}
@media (max-width: 1200px){
    #main {
        border: 3px solid yellow;
    }
    .start h2 {
        margin-top: 10%;
        font-size: 34px;
    }
    .start p {
        font-size: 34px;
    }
    .start__btn {
        font-size: 34px;
    }
}
@media (max-width: 1100px){
    #main {
        border: 3px solid green;
    }
    .start h2 {
        margin-top: 12%;
        font-size: 32px;
    }
    .start p {
        font-size: 32px;
    }
    .start__btn {
        font-size: 32px;
    }
}
@media (max-width: 1000px){
    #main {
        border: 3px solid blue;
        width: 100vw;
    }
    .start h2 {
        margin-top: 15%;
        font-size:  30px;
    }
    .start p {
        font-size: 30px;
    }
    .start__btn {
        font-size: 30px;
    }
    .quiz {
        background-image: none;
    }
    .quiz__input input{
        width: 480px;
        margin-left: 200px;
    }
    .answer__btn {
        right: 18%;
        bottom: 90px;
    }
    .skip__btn {
        right: 18%;
        bottom: 38px;

    }
    .quiz__score {
        bottom: 22px;
    }
}
@media (max-width: 900px){
    #main {
        border: 3px solid indigo;
    }
    .start h2 {
        margin-top: 18%;
        font-size:  28px;
    }
    .start p {
        font-size: 28px;
    }
    .start__btn {
        font-size: 28px;
    }
}
@media (max-width: 800px){
    #main {
        border: 3px solid violet;
    }
    .start h2 {
        margin-top: 25%;
        font-size:  26px;
    }
    .start p {
        font-size: 26px;
    }
    .start__btn {
        font-size: 26px;
    }
    .header__title p {
        margin-top: 80px;
    }
    .quiz__question {
        width: 450px;
        font-size: 40px;
    }
    .hint__btn {
        font-size: 40px;
    }
    .hint__text {
        width: 350px;
        font-size: 40px;
    }
    .quiz__input input {
        width: 350px;
        font-size: 20px;
        margin-left: 320px;
    }
    .answer__btn {
        width: 80px;
        right: 24%;
        bottom: 90px;
    }
    .skip__btn {
        width: 80px;
        right: 15%;
        bottom: 90px;
    }
    .abc {
        right:25%;
    }
    .quiz__score {
        left: 25%;
        bottom: 10%;

    }
    .quiz__question {
        margin-top: 115px;
    }
    .hint .hint__btn {
        margin-top: 20px;
    }
    .hint .hint__text {
        height: 60px;
    }
}
@media (max-width: 700px){
    #main {
        border: 3px solid red;
    }
    .start h2 {
        margin-top: 35%;
        font-size:  22px;
    }
    .start p {
        font-size: 22px;
    }
    .start__bg {
        margin-top: 9%;
    }
    .start__btn {
        font-size: 22px;
    }
    .header__title p {
        margin-top: 100px;
    }
    .quiz__question {
        width: 350px;
        font-size: 40px;
    }
    .hint__btn {
        width: 350px;
        font-size: 40px;
    }
    .hint__text {
        width: 350px;
        font-size: 40px;
    }
    .quiz__input input {
        width: 350px;
        font-size: 20px;
    }
    .answer__btn {
        width: 80px;
        right: 23%;
        bottom: 120px;
        padding: 8px;
        font-size: 15px; 

    }
    .skip__btn {
        width: 80px;
        right: 23%;
        bottom: 77px;
        padding: 8px;
        font-size: 15px;
    }
    .abc {
        right:30%;
    }
    .quiz__score {
        left: 32%;
        bottom: 5%;
    }
    .hint .hint__text {
        height: 49px;
        width: 416px;
    }
}
@media (max-width: 600px){
    #main {
        border: 3px solid orange;
    }
    .start h2 {
        margin-top: 40%;
        font-size:  18px;
    }
    .start p {
        font-size: 18px;
    }
    .start__bg {
        margin-top: 12%;
    }
    .start__btn {
        font-size: 18px;
    }
}
@media (max-width: 400px){
    #main {
        border: 3px solid yellow;
    }
    .start h2 {
        margin-top: 45%;
        font-size:  16px;
    }
    .start p {
        font-size: 16px;
    }
    .start__bg {
        margin-top: 17%;
    }
    .start__btn {
        font-size: 16px;
    }
}