* {
    margin: 0;
    padding: 0;
}
.none {
    display: none;
}
.quiz__wrap.bac__red {
    background-color: #f05650;
}
.quiz__wrap.bac__blue {
    background-color: #4B89DC;
}
.answer.c__red{
    color: #f05650;
}
.answer.c__blue {
    color: #4B89DC;
}
#main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/background-min.jpg");
}
.score {
    background-color: pink;
    font-size: 20px;
    color: #fff;
    font-weight: 800;
    border-radius: 30px 30px 0 0;
    height: 28px
}
.quiz__wrap {
    margin: 0 auto;
    margin-top: 5%;
    width: 80vw;
    height: 450px;
    background-color: #FFFAFA;
    border: 3px solid pink;
    border-radius: 30px;
    text-align: center;
    
}
.quiz__wrap > h2 {
    margin: 20px 0;
}
.quiz__header {
    margin-top: 10px;
}
.quiz__header .quiz__info {
    font-size: 18px;
    padding: 5px;
    background-color: pink;
    border-radius: 10px;
    color:#fff;
    font-weight: 800;
}
.quiz__main {
}
.quiz__main .quiz__question {}
.quiz__main .quiz__question > em{
    font-weight: 800;
    font-size: 18px;
}
.quiz__main .quiz__question > span{
    display: inline-block;
    margin: 20px 0;
    font-size: 20px;
}
.quiz__main .quiz__desc {
    font-size: 20px;
    margin-bottom: 20px;
}
.quiz__main .quiz__answer {
    background-color: pink;
    margin: 20px;
    font-size: 20px;
    height: 30px;
    border-radius: 30px;
    font-weight: 800;
    color: #fff;
}
.answer {
    border: 2px solid pink;
    font-size: 22px;
    height: 30px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
}
.answer__btn, .next__btn {
    font-size: 22px;
    height: 30px;
    background-color: pink;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 35px;
    font-weight: 800;
    color: #fff;
}
@media (max-width: 600px){
    .answer {
        height: 40px;
    }
    .answer__btn, .next__btn {
        margin-top: 10px;
        height: 40px;
    }
}
