<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세계의 미술작품</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="script/jquery.min.js"></script>
    <script src="script/script.js"></script>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <h2 class="logo">
                <a href="#">세계의 미술작품</a>
            </h2>
            <!-- //logo -->

            <nav class="nav">
                <ul>
                    <li><a href="#">소장처별</a>
                        <ul class="submenu">
                            <li><a href="#">한국</a></li>
                            <li><a href="#">프랑스</a></li>
                            <li><a href="#">이탈리아</a></li>
                            <li><a href="#">독일</a></li>
                        </ul>
                    </li>
                    <li><a href="#">장르별</a>
                        <ul class="submenu">
                            <li><a href="#">회화</a></li>
                            <li><a href="#">판화</a></li>
                            <li><a href="#">공예/고대유물</a></li>
                            <li><a href="#">그 외</a></li>
                        </ul>
                    </li>
                    <li><a href="#">테마별</a>
                        <ul class="submenu">
                            <li><a href="#">초상화/인물</a></li>
                            <li><a href="#">종교</a></li>
                            <li><a href="#">신화/문학</a></li>
                            <li><a href="#">일상/스포츠</a></li>
                        </ul>
                    </li>
                    <li><a href="#">시대별</a>
                        <ul class="submenu">
                            <li><a href="#">1900년 이전</a></li>
                            <li><a href="#">1900년대</a></li>
                            <li><a href="#">현대</a></li>
                            <li><a href="#">그 외</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- //nav -->
        </header>
        <!-- //header -->

        <main id="main">
            <div id="slider">
                <div class="sliderWrap">
                    <div class="slider s1">
                        <div class="text">
                            <h2>세계미술작품집 모음전 소개</h2>
                            <p>세계미술작품집 모음전 시작을 알려드립니다.</p>
                        </div>
                    </div>

                    <div class="slider s2">
                        <div class="text">
                            <h2>세계 미술 작품집 이벤트</h2>
                            <p>이벤트와 함께 찾아왔습니다.</p>
                        </div>
                    </div>

                    <div class="slider s3">
                        <div class="text">
                            <h2>세계 미술 작품집 전시 작품</h2>
                            <p>이번 작품 미리 알려드립니다.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //slider -->

            <div id="contents">
                <div class="contents1">
                    <div class="notice">
                        <h3>공지사항</h3>
                        <div class="text">
                            <ul>
                                <li><a href="#">공지사항입니다.1</a><span>2023년 10월 27일</span></li>
                                <li><a href="#">공지사항입니다.2</a><span>2023년 10월 26일</span></li>
                                <li><a href="#">공지사항입니다.3</a><span>2023년 10월 25일</span></li>
                                <li><a href="#">공지사항입니다.4</a><span>2023년 10월 24일</span></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                <!-- //contents1 -->

                <div class="contents2">
                    <h3>미술작품 갤러리</h3>
                    <div class="gallery">
                        <ul>
                            <li><a href="#"><img src="../siteE/images/Rectangle 108.jpg" alt="갤러리1"></a></li>
                            <li><a href="#"><img src="../siteE/images/Rectangle 109.jpg" alt="갤러리1"></a></li>
                            <li><a href="#"><img src="../siteE/images/Rectangle 115.jpg" alt="갤러리1"></a></li>
                        </ul>
                    </div>
                </div>
                <!-- //contents2 -->

                <div class="contents3">
                    <div class="banner">
                        <h3>전시관에 어서오세요</h3>
                        <div>바로가기</div>
                    </div>
                </div>
                <!-- //contnets3 -->
            </div>
            <!-- //contents -->
        </main>
        <!-- //main -->

        <footer id="footer">
            <div class="footer1">세계의 미술작품</div>
            <div class="footer2">
                회사소개 인재채용 제휴제안 이용약관 개인정보처리방침 정책고객센터ⓒ
            </div>
            <div class="footer3">
                <a href="#">인스타그램</a>|<a href="#">페이스북</a>|<a href="#">블로그</a>
            </div>
        </footer>

        <div class="popupview">
            <div class="header">
                <h3>공지사항입니다.1</h3>
                <div class="close">닫기</div>
            </div>
            <div class="text">공지 내용입니다.</div>
        </div>
    </div>
    <!-- //wrap -->
</body>
</html>