* {
    margin: 0;
    padding: 0;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

#wrap {}

#header {
    width: 100%;
    display: flex;
}

.ham {
    width: 30%;
    border: 1px solid red;
}

.ham span {
    display: block;
    width: 24px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--black);
    position: relative;
}

.ham span::before {
    content: '';
    width: 24px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--black);
    position: absolute;
    left: 0;
    bottom: 8px;
}

.ham span::after {
    content: '';
    width: 24px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--black);
    position: absolute;
    left: 0;
    top: 8px;
}

.logo {
    width: 40%;
    height: 50px;
    font-size: 1.25rem;
    font-weight: 900;
    cursor: pointer;
    border: 1px solid yellow;
    text-align: center;
    line-height: 2.5;
}
.etc {
    width: 30%;
    height: 50px;
    display: flex;
    border: 1px solid blue;
    align-items: center;
    justify-content: center;
}
.etc > div {
    margin-right: 20px;
}